body {
    /* background: black;     */
}
h1, h2, h3 {
    /* color: white; */
}
.players-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.field{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}